[submodule "practice-5/practice-5/solana-bootcamp-empty"]
	path = practice-5/practice-5/solana-bootcamp-empty
	url = git@github.com:MattMsh/solana-bootcamp-empty.git
[submodule "practice-5/solana-bootcamp-client"]
	path = practice-5/solana-bootcamp-client
	url = git@github.com:MattMsh/solana-bootcamp-empty.git
